            <!-- Newsletter Section -->
            <section class="small-section bg-light-alfa" data-background="custom/10.jpg">
                <div class="container relative">
                    
                    <form action="#" method="post" class="form">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-lg-offset-2 banner-text">
                                
                                <!-- Text -->
                                <div class="newsletter-label">
                                    Iscriviti alla nostra newsletter
                                </div>
                                
                                <input placeholder="Inserisci la tua Email" class="newsletter-field form-control" type="email" pattern=".{5,100}" required/>
                            
                            </div>
                            
                            <div class="col-md-6 col-lg-4 banner-button pt-10 pt-xs-0">
                                
                                <!-- Button -->
                                <button type="submit" class="btn btn-mod btn-large">
                                    Iscriviti
                                </button>
                                
                            </div>
                        </div>
                    </form>
                    
                </div>
            </section>
            <!-- End Newsletter Section -->