           <!-- Fullwidth Slider -->
            <div class="fullwidth-slider owl-carousel bg-dark" id="gallery">
                
                <!-- Slide Item -->
                <section class="page-section bg-scroll bg-dark" data-background="{{media_path}}/custom/20.jpg">
                  <div style="height:400px;">
                          <div class="section-title">
                                Con le mani..
                            </div>
                        </div>
                </section>
                <!-- End Slide Item -->
                
                <section class="page-section bg-scroll bg-dark" data-background="{{media_path}}/custom/21.jpg">
                   <div style="height:400px;">
                          
                        </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="page-section bg-scroll bg-dark" data-background="{{media_path}}/custom/22.jpg">
                    <div style="height:400px;">
                          
                        </div>
                </section>
                <!-- End Slide Item -->

                 <!-- Slide Item -->
                <section class="page-section bg-scroll" data-background="{{media_path}}/custom/23.jpg">
                    <div style="height:400px;">
                          
                        </div>
                </section>
                <!-- End Slide Item -->
                
            </div>
            <!-- End Fullwidth Slider -->