        <!-- Works Expander -->
        <div class="work-full">
            <div class="work-navigation clearfix">
                <a class="work-prev"><span><i class="fa fa-chevron-left"></i>&nbsp;Previous</span></a>
                <a class="work-all"><span><i class="fa fa-times"></i>&nbsp;All works</span></a>
                <a class="work-next"><span>Next&nbsp;<i class="fa fa-chevron-right"></i></span></a>
            </div>
            <div class="work-full-load">
            </div>
            <div class="work-loader">
            </div>
        </div>
        <div class="body-masked">
        </div>
        <!-- End Works Expander -->