.fullheight {
	height: 100vh;
	padding: 5vh 0;
}
.fullheight .swipe-container {
	position: relative;
	width: calc( (90vh / 1.5882) + 13vw );
	margin: 0 auto;
}
.fullheight .swipe-container .swipe-controller {
	position: absolute;
	bottom: 0;
	right: 0;
}
.fullheight .swipe-container .swipe-controller .swipe-button {
	font-size: 7vw;
	cursor: pointer;
	line-height: .4;
}
.fullheight .swipe-carousel {
	width: calc( 90vh / 1.5882 );
	height: 90vh;
	margin: 0 auto;
	background-color: transparent;
	position: relative;
	border-radius: 15px;
}
.fullheight .swipe-carousel .swipe-section {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: .7s;
    border-radius: 15px;
    cursor: pointer;
}
.fullheight .swipe-carousel .swipe-section > div {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	background-repeat: no-repeat;
	background-size: auto 200%;
	background-color: #efefef;
	background-blend-mode: multiply;
}
.fullheight .swipe-carousel .swipe-section > div.front {
	box-shadow: inset 0px 3vh 3vh -2vh rgba(0,0,0,.5);
	background-position: center bottom;
	border-radius: 0 0 15px 15px;
}
.fullheight .swipe-carousel .swipe-section > div.back {
	box-shadow: inset 0 -3vh 3vh -2vh rgba(0,0,0,.5);
	background-position: center top;
	border-radius: 15px 15px 0 0;
}
.fullheight .swipe-carousel .swipe-section:first-child,
.fullheight .swipe-carousel .swipe-section:last-child {
    box-shadow: 0 0.5vh 1.5vh rgba(255,255,255,.2);	
}